In [ ]:
# Remove extraneous rows and unimportant columns from all dataframes and write to new files.
# 2010 Demographics --> 2015 Crime.
    #Combine and filter 2010 demographics.
    #Filter 2015 Crime
    #Combine demographics with crime by aggregating crime
#Add proportions/neighborhood by age, race, household.

In [2]:
#Imports
import pandas as pd

#Get data
dfcrime=pd.read_csv('./CrimeData/Crime.csv')
df2000A=pd.read_csv('./CrimeData/Demo2000A.csv')
df2000B=pd.read_csv('./CrimeData/Demo2000B.csv')
df2010A=pd.read_csv('./CrimeData/Demo2010A.csv')
df2010B=pd.read_csv('./CrimeData/Demo2010B.csv')

In [3]:
dfcrime.head(10)

,Address,Case Number,Crime Against,Neighborhood,Number of Records,Occur Date,Occur Month Year,Occur Time,Offense Category,Offense Count,Offense Type,Open Data Lat,Open Data Lon,Open Data X,Open Data Y,Report Date,Report Month Year
0,12500 BLOCK OF SE STARK ST ...,16-162605,Property,Mill Park,1,5/23/16,5/1/16,539,Motor Vehicle Theft,1,Motor Vehicle Theft,45.519002,-122.534269,7680741.0,681878.0,5/23/16,May-16
1,NW 14TH AVE / NW GLISAN ST,16-905957,Property,Pearl,1,5/20/16,5/1/16,110,Vandalism,1,Vandalism,45.526468,-122.685297,7642117.0,685610.0,5/20/16,May-16
2,2500 BLOCK OF NW VAUGHN ST ...,16-905924,Property,Northwest,1,5/21/16,5/1/16,1145,Vandalism,1,Vandalism,45.536784,-122.703892,7637456.0,689499.0,5/21/16,May-16
3,400 BLOCK OF NE EMERSON ST ...,16-159874,Property,King,1,5/20/16,5/1/16,1709,Fraud Offenses,1,False Pretenses/Swindle/Confidence Game,45.561857,-122.661007,7648685.0,698341.0,5/20/16,May-16
4,17000 BLOCK OF SE MORRISON CT ...,16-162123,Property,Centennial,1,5/7/16,5/1/16,300,Vandalism,1,Vandalism,45.515867,-122.487675,7692652.0,680438.0,5/22/16,May-16
5,NaN,16-X4581646,Society,East Columbia,1,5/24/16,5/1/16,1926,Animal Cruelty Offenses,1,Animal Cruelty,NaN,NaN,NaN,NaN,5/24/16,May-16
6,NaN,16-X4581646,Society,East Columbia,1,5/24/16,5/1/16,1926,Weapon Law Violations,1,Weapons Law Violations,NaN,NaN,NaN,NaN,5/24/16,May-16
7,4700 BLOCK OF SE ANDEREGG LOOP ...,16-905930,Property,Centennial,1,5/16/16,5/1/16,1500,Larceny Offenses,1,All Other Larceny,45.488151,-122.493110,7691010.0,670370.0,5/21/16,May-16
8,6200 BLOCK OF SE RAMONA ST ...,16-906042,Property,Mt Scott-Arleta,1,5/21/16,5/1/16,300,Larceny Offenses,1,Theft From Motor Vehicle,45.480988,-122.599175,7663750.0,668448.0,5/22/16,May-16
9,6000 BLOCK OF NE DAVIS ST ...,16-165061,Property,North Tabor,1,3/15/16,3/1/16,916,Fraud Offenses,1,False Pretenses/Swindle/Confidence Game,45.524216,-122.601597,7663539.0,684220.0,5/25/16,May-16

In [9]:
Dates=dfcrime['Occur Date']
Dates2010=[x for x in Dates if x.endswith('/15')]
len(Dates2010)

38722

In [31]:
df2000A.head(10)

,Unnamed: 0,Total Population,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 91,Unnamed: 92,Unnamed: 93,Unnamed: 94,Unnamed: 95,Unnamed: 96,Population in occupied HUs,Unnamed: 98,Area,Unnamed: 100
0,NaN,NaN,Hispanic or latino origin by race,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Vacant housing units,NaN,NaN,NaN,NaN,NaN,By tenure,NaN,NaN,NaN
1,NaN,NaN,Not Hispanic or Latino,NaN,NaN,NaN,NaN,NaN,NaN,Hispanic or Latino,...,Vacancy status,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Total,White alone,Black or African American alone,American Indian and Alaska Native alone,Asian alone,Native Hawaiian and Other Pacific Islander alone,Some Other Race alone,Two or More Races,White alone,...,For rent,For sale only,"Rented or sold, not occupied","For seasonal, recreational, or occasional use",For migrant workers,Other vacant,Population in owner occupied housing units,Population in renter occupied housing units,"Land area in square meters (divide by 2,589,98...","Water area in square meters (divide by 2,589,9..."
4,NEIGHBORHOOD ASSOCIATION,P0010001,P0050003,P0050004,P0050005,P0050006,P0050007,P0050008,P0050009,P0050011,...,H0050002,H0050004,H005000305,H0050006,H0050007,H0050008,H011000203,H0110004,AREALAND,AREAWATR
5,ALAMEDA,5214,4617,112,9,125,10,15,152,105,...,7,18,2,4,0,17,4725,488,1590610,0
6,ARBOR LODGE,6153,4702,299,44,306,67,33,278,177,...,26,22,11,11,0,40,4295,1850,2252448,0
7,ARDENWALD-JOHNSON CREEK,4748,4105,87,35,83,10,9,148,139,...,28,16,8,8,0,43,3023,1693,2998136,20882
8,ARGAY,6006,3201,751,57,616,109,15,221,299,...,109,16,11,5,0,21,3278,2665,4921570,214516
9,ARLINGTON HEIGHTS,718,628,7,1,31,0,1,27,19,...,1,6,3,6,0,12,679,39,2329338,14939

In [16]:
df2000B.head(10)

,Unnamed: 0,Total Population,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 90,Unnamed: 91,Unnamed: 92,Unnamed: 93,Unnamed: 94,Unnamed: 95,Population in occupied HUs,Unnamed: 97,Area,Unnamed: 99
0,NaN,NaN,Hispanic or latino origin by race,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Vacant housing units,NaN,NaN,NaN,NaN,NaN,By tenure,NaN,NaN,NaN
1,NaN,NaN,Not Hispanic or Latino,NaN,NaN,NaN,NaN,NaN,NaN,Hispanic or Latino,...,Vacancy status,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Total,White alone,Black or African American alone,American Indian and Alaska Native alone,Asian alone,Native Hawaiian and Other Pacific Islander alone,Some Other Race alone,Two or More Races,White alone,...,For rent,For sale only,"Rented or sold, not occupied","For seasonal, recreational, or occasional use",For migrant workers,Other vacant,Population in owner occupied housing units,Population in renter occupied housing units,"Land area in square meters (divide by 2,589,98...","Water area in square meters (divide by 2,589,9..."
4,NEIGHBORHOOD ASSOCIATION,P001001,P008003,P008004,P008005,P008006,P008007,P008008,P008009,P008011,...,H005002,H005003,H005004,H005005,H005006,H005007,H011002,H011003,AREALAND,AREAWATR
5,ALAMEDA,5037,4514,149,13,106,0,12,145,60,...,4,15,12,4,0,9,4673,363,1605851,0
6,ARBOR LODGE,6065,4531,418,54,360,27,12,249,160,...,37,37,15,4,0,16,4387,1672,2240900,0
7,ARDENWALD-JOHNSON CREEK,4756,4283,53,38,75,6,8,121,82,...,44,16,3,2,0,27,3017,1710,2952746,0
8,ARGAY,5818,3892,482,31,510,63,18,192,173,...,53,23,5,3,0,9,3461,2355,5127020,112349
9,ARLINGTON HEIGHTS,694,639,2,1,24,0,1,8,14,...,1,7,0,3,0,3,657,34,2332143,0

In [10]:
df2010A

,Unnamed: 0,Total Population,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 91,Unnamed: 92,Unnamed: 93,Unnamed: 94,Unnamed: 95,Unnamed: 96,Population in occupied HUs,Unnamed: 98,Area,Unnamed: 100
0,NaN,NaN,Hispanic or latino origin by race,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Vacant housing units,NaN,NaN,NaN,NaN,NaN,By tenure,NaN,NaN,NaN
1,NaN,NaN,Not Hispanic or Latino,NaN,NaN,NaN,NaN,NaN,NaN,Hispanic or Latino,...,Vacancy status,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Total,White alone,Black or African American alone,American Indian and Alaska Native alone,Asian alone,Native Hawaiian and Other Pacific Islander alone,Some Other Race alone,Two or More Races,White alone,...,For rent,For sale only,"Rented or sold, not occupied","For seasonal, recreational, or occasional use",For migrant workers,Other vacant,Population in owner occupied housing units,Population in renter occupied housing units,"Land area in square meters (divide by 2,589,98...","Water area in square meters (divide by 2,589,9..."
4,NEIGHBORHOOD ASSOCIATION,P0010001,P0050003,P0050004,P0050005,P0050006,P0050007,P0050008,P0050009,P0050011,...,H0050002,H0050004,H005000305,H0050006,H0050007,H0050008,H011000203,H0110004,AREALAND,AREAWATR
5,ALAMEDA,5214,4617,112,9,125,10,15,152,105,...,7,18,2,4,0,17,4725,488,1590610,0
6,ARBOR LODGE,6153,4702,299,44,306,67,33,278,177,...,26,22,11,11,0,40,4295,1850,2252448,0
7,ARDENWALD-JOHNSON CREEK,4748,4105,87,35,83,10,9,148,139,...,28,16,8,8,0,43,3023,1693,2998136,20882
8,ARGAY,6006,3201,751,57,616,109,15,221,299,...,109,16,11,5,0,21,3278,2665,4921570,214516
9,ARLINGTON HEIGHTS,718,628,7,1,31,0,1,27,19,...,1,6,3,6,0,12,679,39,2329338,14939
10,ARNOLD CREEK,3125,2753,24,16,143,1,5,97,50,...,3,16,6,3,0,15,2866,234,2904647,0
11,ASHCREEK,5719,4721,192,17,220,17,13,201,172,...,53,25,5,7,0,27,4125,1588,3062331,0
12,BEAUMONT-WILSHIRE,5346,4649,182,7,163,1,9,176,88,...,13,22,5,11,0,22,4589,740,1903650,0
13,BOISE,3311,2010,775,29,70,6,12,160,103,...,40,39,5,6,0,29,1481,1809,1115042,0
14,BRENTWOOD-DARLINGTON,12994,8673,458,108,1344,35,18,553,682,...,86,103,21,10,0,87,8397,4449,4519236,3517
15,BRIDGETON,725,592,51,5,24,3,0,22,15,...,16,5,1,16,0,7,467,258,483417,95698
16,BRIDLEMILE,5481,4756,65,25,198,10,2,159,197,...,48,21,9,13,0,20,4054,1395,3647749,0
17,BROOKLYN,3485,2905,64,25,103,7,13,124,137,...,80,15,10,3,0,15,1382,2097,2832026,1631584
18,BUCKMAN,8472,7151,199,81,220,8,27,297,296,...,122,18,31,26,0,62,1680,6331,2819569,117187
19,CATHEDRAL PARK,3349,2656,172,31,69,27,2,125,138,...,24,21,6,3,0,37,2007,1342,2167822,633539
20,CENTENNIAL,23662,15296,1173,207,2046,152,42,862,1416,...,194,151,31,10,0,84,13987,9342,7941349,6215
21,COLLINS VIEW,3036,2536,43,6,162,2,18,123,97,...,6,12,6,4,0,20,1365,503,1881308,0
22,CONCORDIA,9550,6614,1502,61,268,41,24,408,265,...,49,24,15,8,0,70,6282,2766,3451431,0
23,CRESTON-KENILWORTH,8227,6042,418,64,671,35,10,329,316,...,90,23,10,12,0,39,3132,5002,2077471,0
24,CRESTWOOD,1047,907,12,2,38,5,0,28,28,...,2,2,1,1,0,4,816,231,895440,0
25,CULLY,13209,6814,2050,147,758,53,31,539,822,...,119,57,20,13,0,77,6974,6038,7974457,217464
26,DOWNTOWN,12801,9553,571,144,1254,32,31,469,407,...,576,68,39,339,0,61,1687,8097,2164858,299588
27,EAST COLUMBIA,1748,933,251,10,207,17,3,71,74,...,30,16,2,6,0,11,1307,434,5501184,255139
28,EASTMORELAND,5007,4392,45,4,209,4,5,142,144,...,5,8,9,9,0,19,3775,334,2854178,63406
29,ELIOT,3611,2355,720,30,72,7,13,162,123,...,44,22,9,8,0,40,1252,2251,2102323,165128
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,REED,4399,3529,118,34,289,6,11,173,143,...,36,6,10,5,0,20,1454,1959,1774678,20604
77,RICHMOND,11607,9735,153,55,671,17,26,411,311,...,73,37,27,21,0,58,7186,4291,3292354,0
78,ROSE CITY PARK,8982,7592,168,48,560,14,10,239,203,...,45,25,14,15,0,43,6856,2123,3026773,0
79,ROSEWAY,6323,4959,233,30,491,17,20,201,183,...,31,31,8,2,0,39,4762,1557,2166412,0
80,RUSSELL,3175,2341,163,13,320,17,2,112,91,...,7,18,2,3,0,25,2486,596,2064593,0
81,SABIN,4149,3125,547,19,115,1,13,142,105,...,11,11,11,8,0,34,3131,1018,1218635,0
82,SELLWOOD-MORELAND,11621,10137,101,81,337,18,27,396,332,...,95,47,42,62,0,74,6759,4852,4675958,661460
83,SOUTH BURLINGAME,1747,1536,23,10,49,7,6,50,38,...,13,14,4,4,0,8,1318,429,1143578,0
84,SOUTH PORTLAND,6631,5477,111,32,426,12,21,226,186,...,265,252,47,106,0,47,2665,3963,3528063,972618
85,SOUTH TABOR,5995,4478,138,23,731,26,17,214,173,...,63,18,7,5,0,22,3666,2312,2078857,0
86,SOUTHWEST HILLS,8389,7502,50,13,325,11,24,226,170,...,52,70,25,41,0,68,6983,1403,7833407,0
87,ST. JOHNS,12207,7002,1119,185,491,135,30,585,767,...,144,76,16,16,0,91,6728,5475,21963352,6256025
88,SULLIVAN'S GULCH,3139,2572,188,14,92,6,3,77,104,...,71,12,10,43,0,17,1010,2045,830327,0
89,SUMNER,2137,1357,153,18,234,16,1,75,83,...,14,19,5,1,0,20,1511,617,1948444,93281
90,SUNDERLAND,718,536,111,17,15,0,1,5,23,...,1,0,0,0,0,1,61,42,4275244,236510
91,SUNNYSIDE,7354,6346,76,29,254,3,34,236,224,...,83,28,31,33,0,34,3036,4074,1547608,0
92,SYLVAN-HIGHLANDS,1317,1167,17,2,49,3,3,47,24,...,4,11,3,3,0,15,1151,166,2819212,0
93,UNIVERSITY PARK,6035,4874,130,64,175,63,35,346,122,...,39,20,8,14,0,34,2598,1778,2598142,632937
94,VERNON,2585,1605,595,15,46,3,9,132,64,...,20,15,5,2,0,32,1387,1193,765531,0
95,WEST PORTLAND PARK,3921,2838,306,28,256,31,6,162,157,...,58,17,7,6,0,20,2008,1906,1908470,0
96,WILKES,8775,5569,849,37,1103,97,17,254,258,...,42,75,13,23,0,53,5746,2862,7200794,840068
97,WOODLAND PARK,176,108,9,13,20,0,0,5,8,...,1,3,0,0,0,1,102,74,94103,0
98,WOODLAWN,4933,2542,1376,31,81,46,21,269,193,...,23,34,11,6,0,57,3122,1788,1815174,0
99,WOODSTOCK,8942,7514,80,65,539,13,10,308,241,...,40,30,21,8,0,49,6382,2481,3378147,4491
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101,Source: Census block data from U.S. Census Bu...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
102,Note: Fields with 8 character field names are...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
103,www.pdx.edu/prc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104,www.census.gov,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105,http://www.portlandonline.com/oni/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
df2010B.head(10)

,Unnamed: 0,Total Population,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 91,Unnamed: 92,Unnamed: 93,Unnamed: 94,Unnamed: 95,Unnamed: 96,Population in occupied HUs,Unnamed: 98,Area,Unnamed: 100
0,NaN,NaN,Hispanic or latino origin by race,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Vacant housing units,NaN,NaN,NaN,NaN,NaN,By tenure,NaN,NaN,NaN
1,NaN,NaN,Not Hispanic or Latino,NaN,NaN,NaN,NaN,NaN,NaN,Hispanic or Latino,...,Vacancy status,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Total,White alone,Black or African American alone,American Indian and Alaska Native alone,Asian alone,Native Hawaiian and Other Pacific Islander alone,Some Other Race alone,Two or More Races,White alone,...,For rent,For sale only,"Rented or sold, not occupied","For seasonal, recreational, or occasional use",For migrant workers,Other vacant,Population in owner occupied housing units,Population in renter occupied housing units,"Land area in square meters (divide by 2,589,98...","Water area in square meters (divide by 2,589,9..."
4,NEIGHBORHOOD OR PART,P0010001,P0050003,P0050004,P0050005,P0050006,P0050007,P0050008,P0050009,P0050011,...,H0050002,H0050004,H005000305,H0050006,H0050007,H0050008,H011000203,H0110004,AREALAND,AREAWATR
5,ALAMEDA (PART),4200,3697,88,9,104,8,15,128,93,...,5,15,2,3,0,17,3799,401,1271978,0
6,ALAMEDA/BEAUMONT-WILSHIRE,161,150,1,0,3,0,0,6,1,...,1,1,0,0,0,0,152,9,43864,0
7,ALAMEDA/IRVINGTON,853,770,23,0,18,2,0,18,11,...,1,2,0,1,0,0,774,78,274768,0
8,ARBOR LODGE,6153,4702,299,44,306,67,33,278,177,...,26,22,11,11,0,40,4295,1850,2252448,0
9,ARDENWALD-JOHNSON CREEK (PART),4480,3876,87,33,71,10,9,137,131,...,27,15,8,7,0,43,2794,1654,2491357,9173